apex.egg-info
dist
build
docs/build
*~
.idea/
__pycache__/
**/**/*.log
**/**/*.nvvp
**/**/*.csv
**/**/*.qdrep
**/**/*.sqlite
**/**/*.ncu-rep
**/**/*.json
**/**/*.tar
bagua.egg-info/
dbg.h
/public/**/*.html
/public/index.js
.data/
/_build/
/venv/
